extends layout 

block content 
  h1= title 

  form(method="POST" action="")
    div.form-group 
      label(for="email") Email 
      input(type="text" name="email" required=true)
    div.form-group 
      label(for="password") Password 
      input(type="password" name="password" required=true)
    button.submit-btn(type="submit") Login 