extends layout

block content
  h1= Rings of Power Fan Lair
  h3= title

  p This app collects the following data: user name, email, and profile picture.
  p This allows the app to create a user account to enable you to use the app.
  p If you would like your user account and all data to be deleted, please contact me at cdwarme@hotmail.com
  p Thanks!

